[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
python-dotenv = "*"
psycopg2 = "*"
flask-login = "*"
flask-wtf = "*"
supabase = "*"

[dev-packages]

[requires]
python_version = "3.12"
