.formStyle {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.formStyle > button {
    margin-top: 1em;
    width: fit-content;
    align-self: center;
}

.formStyle > div,
.formStyle > .subform > div {
    display: flex;
    flex-direction: column;
}

.formStyle > div > span,
.formStyle > div > div > span {
    color: rgb(122, 17, 17);
}
