.desktopheader {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    overflow-x: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    /* max-width: 100%; */
}

.desktopheader > div {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    font-size: 1.5rem;
}

.current {
    position: relative;
    color: #232438;
}
.current::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-bottom: 2px solid black;
    width: 0px;
    height: 2px;
    animation-name: underline-animation;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes underline-animation {
    from {
        width: 0px;
    }
    to {
        width: 100%;
    }
}

@media (min-width: 786px) {
    .mobileheader {
        display: none;
    }
    .desktopheader {
        display: flex;
    }
}

@media (max-width: 786px) {
    .mobileheader {
        display: flex;
    }
    .desktopheader {
        display: none;
    }
}

.headerwidget {
    display: flex;
    align-items: end;
    justify-content: start;
    gap: 5px !important;
    margin: 0px;
}

.headerwidget h2 {
    margin: none;
    height: fit-content;
    margin: 0px;
    margin-bottom: 3px;
}
