header {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: space-between;
    padding: 12px;
}

header > div {
    display: flex;
    flex-direction: row;
    gap: 32px;
}
