.pageContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 32px;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 12px;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    max-width: 100%;
}

.tableContainer {
    max-width: 100%;
    overflow-x: auto;
}

form {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.publicForm {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 3rem;
    border-radius: 1rem;
}

.addButton {
    max-width: 100px;
}
